<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/header.ejs') %>


        <main>
            <h1>
                <%= title %>
            </h1>

            <section id="airingToday">
                <%- include('../components/airingToday.ejs') %>

            </section>
            <section id="discoverMovies">
                <%- include('../components/discoverMovies.ejs') %>

            </section>
            <section id="trendingMovies">
                <%- include('../components/trendingMovies.ejs') %>
            </section>


        </main>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>

        <script src="/script.js"></script>

</body>

</html>