<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/header.ejs') %>


        <main class="font">
            <h2>
                <%= title %>
            </h2>

            <section id="searchResults">

                <%- include('../components/searchResults.ejs') %>
            </section>



        </main>

        <%- include('../partials/footer.ejs') %>


            <script src="/script.js"></script>

</body>

</html>